@font-face {
    font-family: 'open-sans';
    src: url('../font/OpenSans.ttf');
}

body {
    font-family: 'open-sans';
    background-color: #3d828b;
    color: white;
}

h1 {
    text-align: center;
}

div{
    margin: auto;
    width: max-content;
}

button{
    width: 120px;
    height: 30px;
    font-family: 'OpenSans';
    background-color: #231c59;
    color: #ffff;
    border: none;
    transition: 0.6s;

}

button:hover{
    background-color: #237c59;
    transition: 0.6s;
}